name: Build and upload

on:
  push:
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write  # required to use OIDC
    steps:
      - uses: actions/checkout@v6
      - name: Remove old files and folders
        run: |
          rm -rf package-lock.json
          rm -rf dist
          rm -rf js/modules
          mkdir js/modules
      - name: install node v20
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm to latest
        run: npm install -g npm@latest
      - name: Check npm version
        run: npm --version
      - name: Install NPM
        run: npm install
      - name: Compile TypeScript
        run: |
          set -e
          rm -rf dist
          NODE_ENV=production npm exec -- tsc
          NODE_ENV=production npm exec -- rollup -c
      - name: Rename and copy build artifact
        run: |
          cp dist/web/*.js js/modules/
          mv js/modules/index.js js/modules/esptool.js
          #ls js/modules/
      - name: Commit Distribution Files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Github Action: Updated dist files"
      - name: Publish to NPM registry (OIDC Trusted Publishing)
        run: npm publish --access public
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "."

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
